/basic_types
/binaries
/collection
/config
/docker
/docs
/ellidiss
/framework
/framework_examples/*
!/framework_examples/gpu
/gpr/*
!/gpr/gpu_generate.gpr
!/gpr/gpu_run_simulation.gpr
!/gpr/gpu_static_transform.gpr
/graphical_editor
/java
/osate
/platypus
/scripts
/tools
/txt
/unit_test
adatest.adb
cheddar


